.progress,sub,sup{vertical-align:baseline}.block,.elem-left,.elem-right,article,aside,details,figcaption,figure,footer,header,hr,main,menu,nav,section,summary{display:block}hr,sub,sup{position:relative}body,figure{margin:0}button,hr,input,select{overflow:visible}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%;box-sizing:border-box;font-size:100%}audio,canvas,progress,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:0 0 .67em}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:50%;line-height:0}sub{bottom:-.25em}sup{top:-.45em}img{border-style:none}svg:not(:root){overflow:hidden}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;border:0}button,input,select,textarea{font:inherit;line-height:initial;margin:0}optgroup{font-weight:700}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button;-moz-appearance:button;appearance:button;border:0}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}button:-moz-focusring,input:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;-moz-appearance:textfield;appearance:textfield}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none;appearance:none}*,::before,::after{box-sizing:border-box;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.clearfix:before,.clearfix:after{display:table;content:" "}.clearfix:after{clear:both}address{font-style:normal!important}img{max-width:100%;display:block;margin:0 auto}.icon-gplus:before{margin-left:-1px!important}*,::before,::after{box-sizing:border-box;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}[class*=" icon-"]:before,[class^=icon-]:before{line-height:1!important;display:block!important}img{max-width:100%}header{z-index:101}footer{z-index:102}.fixons{z-index:103}.flex-ed,.col-flex-ed{display:flex}.flex-ed{flex-flow:row wrap}
.animated{-webkit-animation-duration:2s;animation-duration:2s;-webkit-animation-fill-mode:both;animation-fill-mode:both}@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}@keyframes fadeIn{from{opacity:0}to{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn}@-webkit-keyframes slideIn{from{transform:translate3d(0,-100%,0)}to{transform:translate3d(0,0,0)}}@keyframes slideIn{from{transform:translate3d(0,-100%,0)}to{transform:translate3d(0,0,0)}}@-webkit-keyframes fadeInUp{from{opacity:0;transform:translate3d(0,100%,0)}to{opacity:1;transform:none}}@keyframes fadeInUp{from{opacity:0;transform:translate3d(0,100%,0)}to{opacity:1;transform:none}}.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}@-webkit-keyframes fadeInRight{from{opacity:0;transform:translate3d(100%,0,0)}to{opacity:1;transform:none}}@keyframes fadeInRight{from{opacity:0;transform:translate3d(100%,0,0)}to{opacity:1;transform:none}}.fadeInRight{-webkit-animation-name:fadeInRight;animation-name:fadeInRight}@-webkit-keyframes fadeInLeft{from{opacity:0;transform:translate3d(-100%,0,0)}to{opacity:1;transform:none}}@keyframes fadeInLeft{from{opacity:0;transform:translate3d(-100%,0,0)}to{opacity:1;transform:none}}.fadeInLeft{-webkit-animation-name:fadeInLeft;animation-name:fadeInLeft}
.star:before{font-size:28px;font-family:'fontello';letter-spacing: 8.4px;font-weight:400;margin:0;font-style:normal;content:'\e80f \e80f \e80f \e80f \e80f';color: #febb21;}

@font-face { font-family: Gotham; src: url(assets/images/GothamPro.ttf) }
@font-face { font-family: Gotham; src: url(assets/images/GothamPro-Bold.ttf); font-weight: bold }

/*=========== 3. Slick Slider Base ==========*/
.slick-slider {position: relative; display: block; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; } 
.slick-list {position: relative; display: block; overflow: hidden; margin: 0; padding: 0; outline: none; } 
.slick-list:focus {outline: none; } 
.slick-list.dragging {cursor: pointer; cursor: hand; } 
.slick-slider .slick-track, .slick-slider .slick-list {-webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); } 
.slick-track {position: relative; top: 0; left: 0; display: block; margin-left: auto; margin-right: auto; } 
.slick-track:before, .slick-track:after {display: table; content: ''; } 
.slick-track:after {clear: both; } 
.slick-loading .slick-track {visibility: hidden; } 
.slick-slide {display: none; float: left; height: 100%; min-height: 1px; } 
[dir='rtl'] .slick-slide {float: right; } 
.slick-slide {right: 0;}
.slick-slide img {display: block; margin: 0 auto;} 
.slick-initialized .slick-slide {height: 100%; display: flex !important; flex-direction: column; justify-content: center;}

.slick-slide.slick-loading img {display: none; } 
.slick-slide.dragging img {pointer-events: none; } 
.slick-initialized .slick-slide {display: block; } 
.slick-loading .slick-slide {visibility: hidden; } 
.slick-vertical .slick-slide {display: block; height: auto; border: 1px solid transparent; } 
.slick-arrow.slick-hidden {display: none; }
.slick-dots { margin:0px; padding:0px; list-style: none; text-align: center; }
.slick-dots li { padding:0px!important; display: inline-block; margin: 0 5px;}
.slick-dots li:before { display:none; }


$primary: #F2C845;
$secondary: #2E2D2B;
$tertiary: #00375D;
$font: 'Manrope', sans-serif;
$font2: 'Chivo', sans-serif;
$text: #000;

/* FIXED TABS */
#fixed-tabs { display:none;position: fixed; right: 0; text-align: center; line-height: 1; font-size: 0; z-index: 510;}
#fixed-tabs a { font-size: 12px; background-color: #7d7e82; color: #fff; position: relative; overflow: hidden; transition: width .3s, background-color .3s;}
#fixed-tabs i { font-size: 16px; margin-bottom: -5px;color: #000; }
#fixed-tabs i, #fixed-tabs i:before { margin: 0 3px 0 0; }
#fixed-tabs em { font-size: 14px; font-weight: 700;font-style: normal; text-transform: uppercase;color: #000; }
#fixed-tabs strong { font-weight: 900; }
#fixed-tabs .ra {flex: 2;}
#fixed-tabs .ra, #fixed-tabs .map { background-color: $primary; }
#fixed-tabs .call em, #fixed-tabs .call i {color: #fff;}
#fixed-tabs .call {background-color: $secondary;color: $text;}
@media (max-width:1000px) {
  #fixed-tabs { bottom: 0; width: 100%; box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
  #fixed-tabs a { padding: 12px 0; -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; }
  #fixed-tabs a span { display: flex;justify-content: center;align-items:center;; }
  #fixed-tabs a span:last-child { margin-left: 7px;display:none; }
  #fixed-tabs a strong { display: none; }
  #fixed-tabs .call, #fixed-tabs .map { display: block; }
}

body{position:relative;background-color:#fff;font-family: $font2; text-align:center; }
p{font:400 20px/30px $font2; color: $text;}
a{display:inline-block;text-decoration:none;cursor:pointer}
h1,h2,h3,h4,h5,h6{font-family: $font2;}
h2{color:$tertiary;text-align:center;font-size:60px; font-family: $font;line-height:52px;letter-spacing: -1px; font-weight: 200; line-height: 1.2;}
h3{font-size:32px;line-height:1.41}
.subpage {max-width: 1200px; margin: 100px auto; text-align: center; padding: 15px;}

/* header */
header{position:relative;padding:0;z-index:100;background-color: #fff;
    address{padding:0 8px;}
    .address{text-align:left;display:flex;color: #000;font-size:18px;line-height:1.25;font-weight:300;letter-spacing:.55px;
        &:hover{color:$primary}
        i:before {color: $primary;font-size: 22px;margin-left: -10px;margin-right: 15px;}
    }
	#nav{padding: 20px 10px;display:flex;flex-wrap:wrap;max-width:1350px;justify-content:space-between;margin:auto;align-items:center;
		.btn{display: flex;flex-wrap: wrap;	justify-content: center;margin:0;padding: 15px 25px;font-size:20px;background-color: $primary;max-width: 470px;color: #000;font-family: $font;font-weight: 600;border-radius: 20px;
			i:before {margin-right: 10px;}
			span {display: block;width: 100%;font-size: 44px;text-transform: uppercase;font-weight: 600;}
            &:hover {background-color: $secondary; color: #fff;}
		}
        #header-details {
            .pho {display:flex;font-size: 41px;align-items:center;font-weight: 700;margin-bottom: 10px;color: $text;
                i {
                    &:before {color: $primary;margin-right: 10px;
                        margin-left: 0;}
                }
                &:hover{color:$primary}
            }
            a {
                i {
                    &:before {font-size: 22px;}
                }
            }
        }
        #header-details, #header-btn {flex: 1;}
        #header-btn a {max-width: 390px;
            margin: auto;}
		#mobile-btns {
			width: 100%;display:flex;
			> * {flex: 1;}
			.btn {
				display: flex;
				flex-wrap: wrap;
				padding: 10px;
				justify-content: center;
				border-radius: 0;
				font-size: 16px;
                margin: 0;
				text-transform: uppercase;
                background-color: $primary;
				span {
					width: 100%;font-size: 28px;
				  }
			}
			.phone, .btn {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-content: center;
				span {
					width: 100%;
				}
			  }
			.phone {background-color: #EBEBEB;color: #000;font-size: 20px;line-height: 1.3;
				span {text-transform: uppercase;font-size: 16px;font-weight: 700;letter-spacing: 1px;color: #000;}
			}
			#mobile-special {
				.container {
					margin: 10px 0;border-top: 2px solid #AFB1B1;border-bottom: 2px solid #AFB1B1;padding: 5px;
					h4 {color: $tertiary;font-size: 22px;margin: 0;}
					small {text-transform: uppercase;font-size: 14px;letter-spacing: .7px;font-weight: 700;}
				}
			}
		  }
	}	
}

.address{color:$text;font-size:20px;line-height:1.25;font-weight:400; text-align: center; letter-spacing: 0.42px;}
.phone{color: $primary;font-size:35px;line-height:1.1;font-weight:700; &:hover {color: $text;}}
.phone-call {
    p {margin: auto; font-family: $font2; font-size: 14px; letter-spacing: 1.4px; font-weight: 700; text-transform: uppercase;}
}
.address:hover{color:$tertiary}
.fix-nav header{position:fixed;width:100%;left:0;top:0;right:0; animation:slideIn .8s both; box-shadow:1.6px 2.5px 7px rgba(6,7,7,0.35); z-index: 1000;
    .logo {position: relative; 
        img {max-height: 120px;}}
    address {margin-left: 0;}}

.btn,.btn-alt{transition: 0.3s all ease;border: 1px solid $primary;min-width: 300px;cursor:pointer;position:relative;display:inline-block;margin:3px auto;padding:15px 25px;color:#fff;font:700 16px/1 $font2; text-transform: uppercase; letter-spacing: 0.1em;transition:border .3s;background-color:$primary;border-radius: 50px;
    &:hover, &:hover{background-color:$secondary;color:#000;}
}

.split{display:flex;justify-content:space-between;flex-wrap:wrap;align-items:center;max-width: 1200px; margin: auto; padding: 30px 10px 50px;
    article{margin:10px;flex:0 1 45%; text-align: left;}
    h2 {text-align: left; font-weight: 200;margin-bottom: 10px;}
    figure {flex: 0 1 45%;}
    figure img{position:relative; max-width: 550px;}
    &.even figure{order:-1;margin-right:40px}
}


.safe-bar{width:100%;position:relative;background-color:$tertiary;z-index:10;color:#fff;font:400 24px/1.2 $font2; padding:9px 10px;text-align:center; 
    span {margin: 0 40px;}
}

#banner {border-bottom: 5px solid $primary;background-color: #F6F4F2;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    > * {
      flex: 1 0 500px;
    }
    figure {
      margin: 0;
      position: relative;
      order: 1;
      text-align: center;
      figcaption {position: absolute;letter-spacing: 1.5px;
        bottom: 0;
        width: 100%;
        padding: 10px;
        background-color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;}
      img {
        width: 100%;
        position: relative;
        width: 100%;
      }
      .caption {
        position: absolute;
        bottom: 0;
        font-size: 18px;
        width: 100%;
        font-weight: bold;
        letter-spacing: 1.3px;
        background-color: rgba(255, 255, 255,0.9);
        padding: 10px;
        text-transform:uppercase;
        color: $text;
        font-family: $font;
        text-transform: uppercase;
        left: 50%;
        transform: translateX(-50%);
        a {color: $text;letter-spacing: 1.6px;
            &:hover {color: $primary}
        }
      }
    }
  .flex-ed {display:flex;}
  article {order: 2;align-self: center;position: relative; flex: 0 1 49%; z-index: 2;
        #stamps {display: flex;flex-wrap:wrap;justify-content: center;
            img {margin: 10px 20px;}
        }
        h1 { margin-bottom: 0;font-size: 36px; font-family: $font2;color: #000;letter-spacing: 4px; font-weight: 400; line-height: 1; margin-top: 50px;text-transform:uppercase;
            span {letter-spacing: normal;text-transform:none;display: block; font-weight: 800; font-size: 70px; line-height: 1; letter-spacing: 2.5px;font-family: $font;}
        }
    }
  }

#common { padding: 50px 5px;
    article {max-width: 1100px; text-align: center; margin: 20px auto;
        h2 {font-size: 60px;font-weight: 200;margin: 40px auto;}
    }
    .flex-ed {max-width: 980px; display: flex; flex-wrap: wrap; justify-content: space-between; margin: 20px auto;
        div {flex: 0 1 45%; margin: 30px 10px;
            h3 {font-size: 24px; font-weight: 400;}
            figure { position: relative; width:fit-content; margin: auto;
                img {z-index: 2; box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2); position: relative;}
                &:before, &:after {position: absolute; content: ''; background: $tertiary; width: 200px; height: 150px; box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2); top: -15px; left: -15px; z-index: 1;}
                &:after {top: auto; left: auto; bottom: -15px; right: -15px;}
            }
        }
    }
    .btn {min-width: 440px;background-color:$tertiary;border:none;color: #000; font-size: 20px;
        &:hover {background-color: $primary;}
    }
}

#same-day {
    .btn {background-color: $primary; color: #000;border:none;font-size: 20px;letter-spacing: 1px;min-width: 400px;text-align:center;
        &:hover {background-color: $tertiary;}
    }
}

/* ------------- Controls -------------- */
.slick-controls { display: flex; align-items: center; justify-content: space-around; max-width: 1000px; margin: 10px auto;;}

/* ------------- Arrows -------------- */
.slick-arrow {color: $tertiary; background-color: transparent; font-family: fontello; font-size:50px; position: absolute; top: 50%;  transform: translateY(-50%); left: 0;  width: 60px; height: 60px; flex: 0 0 60px; display: flex; flex-direction: column; justify-content: center; align-items: center; z-index: 5;  transition: .3s all;
    i {margin-left: -4px;}
    &:hover { color: $secondary;  } 
}
#next {left: auto; right: 0; order: 2; i {margin-left: 4px;} }


/* ------------- Pagers -------------- */
.slick-dots  {line-height: 1;
    li {line-height: 1;
        button {padding: 0;}
    }
    span {
        cursor: pointer; background-color: transparent; border: 1px solid #000;
        height: 12px; width: 12px; border-radius: 50%;display: inline-block;  margin: 0 5px;
    }
    .slick-active span {
       opacity: 1; background-color: $primary;
    }
}
.slick-dots li button {background: transparent;}
.pagingInfo {font-size: 30px; text-align: center;}

.gallery { max-width: 1350px; margin: 40px auto; padding: 0 60px; position: relative;
    .slick-arrow {top: 50%;}
}
.smile-gallery {position: relative; margin: 20px auto; text-align: center; max-width: 1200px;
    .slick-slide {margin: 10px; }
    .flex-ed {display: flex; justify-content: space-between;
        div {position: relative;}
    }
    figcaption {width: 200px; background-color: rgba(0,0,0,.8); position: absolute; bottom: 0; right: 0; color: white; text-transform: uppercase; text-align: center; padding: 3px 10px; font-size: 17px;}
}
#smiles {margin: 40px auto 60px; max-width: 90%;
    .arrow {color: $primary;
        &:hover {color: $secondary;}
    }
    .btn {min-width: 350px;}
}

.bkgrd {background-color: #EBEBEB;}

#reviews{position:relative;padding:40px 10px;text-align:center;z-index: 101;background: $tertiary;
    h2{text-align: center;color: #fff;}
    .btn {margin: 40px auto;color: #000;
        &:hover {background-color: $tertiary;color: #fff;}
    }
}

#rotate{max-width:1250px;margin:50px auto 10px;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-pack:distribute;justify-content:space-around; flex-wrap: wrap;
    .review{background-color:#fff; border-radius:5px;padding:10px;-webkit-box-flex:1;-ms-flex:1;flex:1;margin:10px;position:relative; max-width: 380px; box-shadow: 0px 6px 15px rgba(45, 134, 133, 0.5); flex: 0 1 380px;
        &:nth-of-type(2) {
            p {font-size: 26px;line-height: 27px;}
        }
        > div {height: 100%;min-height: 560px; margin: auto; border: 2px solid $secondary; border-radius: 10px; padding: 60px 15px 35px;display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .author-section {align-self: flex-end;}
        }}
    .review:after {display: block; position: absolute; border: 2px solid $tertiary; width: 200px; height: 300px; border-radius: 10px; bottom: 0;}
    span{display:table;width:60px;height:60px;background-color:#fff;border-radius:50%;line-height:60px;position:absolute;top:-25px;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);z-index:12;box-shadow:0 1px 8px 0 rgba(0,0,0,0.23);
        img{vertical-align:middle;display:inline}}
    p{color:$text;font:400 26px/27px $font2; text-align:center;max-width:95%;margin:10px auto; }
    author{text-transform:uppercase;font-weight:700;display:flex;text-align:center;justify-content:center;align-items:center; color: $text; font-family: $font2; letter-spacing: 1.8px; font-weight: 600; margin-top: 10px;}
    star{font-size:17px;letter-spacing:7px;margin:6px}
}

footer{overflow:hidden; padding:70px 0 0;
    .phy {color: #fff; font-size: 20px; display: block; position: relative;padding-left: 40px;
        &:before {position: absolute; left: 0; top: 8px; font-family: fontello; content: '\e809'; color: $primary;  font-size: 24px;}
        &:hover {color: $primary;}    
        }
    .pho {color: #fff; display: block; position: relative; font: 600 40px/1.1 $font; margin: 35px 0 20px; padding-left: 40px;
        &:before {position: absolute; left: 0px;top: 3px; font-family: fontello; content: '\e80b'; color: $primary;  font-size: 30px;}
        &:hover {color: $primary;}
    }
    .split{justify-content:space-between;max-width:1160px; padding: 0; align-items:flex-start;margin:auto;margin-bottom:70px;
        article{flex: 0 1 500px; background-color: $tertiary;padding:85px 60px; margin: 0; align-self: center; border-radius: 8px;
            h2{font:800 70px/1 $font;color:#fff; margin:0 auto 30px;text-transform: none;}
            .btn {width: 100%; text-align: center; font-size: 20px;background-color: $tertiary;color: #000;}
        }
        figure p {text-align: center;}
    }
    figure{flex:1 1 650px!important; align-self: center; order: 1;}
}

.hours {display: table; margin: 0; text-align: left!important; position: relative; padding-left: 40px;
    &:before {position: absolute; left: 0; top: 25px; font-family: fontello; content: '\e839'; color: $primary;  font-size: 30px;}
    ;}
.hours label {width:131px; display: inline-block; font-weight: 600;}
.hours p {font-size:18px; color: #fff; line-height: 34px; font-family: $font;
    span {text-transform:uppercase;opacity: 0.5;font-size: 14px;letter-spacing: 1.3px;}
}

.frame{overflow:hidden;display:table;width:100%;margin:auto; flex: 0 1 50%;
    iframe{height:615px;display:block;margin:auto;width:100%;}
}

.insurance {max-width: 1200px; margin: 50px auto 0;padding: 40px 15px 80px;
    article {
        h2 { margin-bottom: 15px; font-family: $font; font-size: 60px;color: $text;
            small {display: block;text-transform: none;font-family: $font2;color: $text; font-size: 30px;font-weight: 400;}
        }
        #insurance-list {display: flex;
            justify-content: center;
            align-items: center;
            margin: 25px auto;
            flex-wrap: wrap;
            span {margin: 0 30px;}
        }
        > small {opacity: 0.4;
            font-size: 14px;}
    }
}
.bkgrd2 {background-color: #EBEAE8}
#no-ins {
    margin-top: 0;
    background-color: #EBEAE8;
}

.copy {margin-top:20px;padding:40px 10px; background-color:#000; margin:auto;text-transform:uppercase; font:500 16px/1.4 $font2; color:#fff;
   a, p {font:500 16px/1.4 $font2; color:$primary;}
    p {margin: 20px auto; max-width: 1090px; letter-spacing: 0.2em;}
    a:hover{color:$tertiary;text-decoration:none}
    span {margin: 0 2px;}

}

::placeholder{color:$text;}


#lp-appointment-form{max-width:850px;padding:10px;margin:20px auto;position:relative; text-align:center;
    h1{font-size:50px;font-weight:700;margin:10px auto 40px;color:$text;}
    > p{max-width:700px;margin:auto;margin-bottom:30px}
    .simple{margin:40px auto 20px;max-width:550px;padding-right:3px}
    label{display:none}
    input, textarea, select{width:93%;display:table;margin:10px auto;background-color:#d3d3d3;color:$text;border-radius:5px;padding:15px;font-size:16px; border:none;box-shadow:inset 0 1px 3px 0 rgba(0,0,0,0.5);
        &:focus{background-color:#e3e3e3}
    }
    textarea{height:200px;margin-bottom:30px}
    textarea:focus, input:focus, button:focus{outline-style:solid;outline-width:thin;outline-color:$secondary}
    .submitBtn{text-align:center;width:200px;margin:auto;display:table;font-size: 20px;color: #000;
        &:hover {color: #fff;}
    }
}

@media (max-width: 1430px) {
    #banner {background-size: cover;}
}

@media (max-width: 1160px) {
    header > div {flex-wrap:wrap}
     h2{font-size:45px}
    .address{font-size:16px}
    .phone{font-size:32px}
    #stamp{right:auto;left:10px;top:-130px;
        img{max-width:180px}
    }
}
@media (min-width: 1000px) and (max-width: 1150px) {
    header {
        .logo {width: 100%;margin: 20px auto;}
        #nav {
            #header-details {width: 100%;
                .pho, .address {justify-content: center;}
            }
            .btn {margin: auto;}
        }
    }
}
@media (min-width: 1000px) {
	#mobile-btns {
	  display: none!important;
	}
}
@media (max-width: 1000px) {
    header {  
        address { margin-left: 0;
            .address{display:none;}
        }
        .flex-ed{justify-content:space-around}
        .logo {position:relative;margin: 10px auto 20px;}
        padding: 0;
        #nav {margin: 0;padding: 0;
            #header-details {display:none;}
            > .btn {display:none;}
        }
    }
    .phone{font-size:24px}
    #stamp{top:-100px}
    h2, #practice h2{text-align:center}
    #lists{flex-wrap:wrap;justify-content:center}
    .list ul{max-width:490px}
    .border-box:before,.border-box:after{visibility:visible}
    .border-box:after,.border-box:before{width:50px; bottom: 20px;}
    .bkgrd{padding:0}
    #dentist{display:block;padding:10px 0 80px;
        article{padding:10px}
        figure{margin:auto;max-width:600px;padding:10px 10px 0}
    }
    .insurance #insurance-list span {margin: 20px auto;width: 100%;;}
    #reviews{padding:50px 15px 10px;}
    #review-container{flex-wrap:wrap}
    #patients{display:block}
    #common article h2, .insurance article h2 {font-size: 50px;}
    footer  {
        h2{font-size:50px}
        .split{justify-content:center; flex-wrap: wrap;}
        .split article {margin: 20px auto;}
    }
    #rotate {margin-top: 30px;}
    #banner figure img {display: block; }
    #banner figure {flex: 0 1 100%;order: -1;}
    #banner article {padding: 20px 10px 50px;flex: 0 100%; order: -1; margin-left: auto;background-color: #F6F4F2;
        h1 {
            span {font-size: 56px;}
        }
    }
    #banner {background-image: none; background-color: $secondary; flex-wrap: wrap;}
    #banner figure figcaption {bottom: 70px; margin: auto;}
    .split {justify-content: center;}
    .split article {flex: 0 1 100%; text-align: center}
    .split figure {flex: 0 1 100%;}
    .split h2 {text-align: center;}

}
@media (max-width: 880px) {
    #banner h1 {margin-top: 40px; font-size: 50px;}
}
@media (max-width: 790px) {
    #banner article h1 strong {font-size: 50px;}
    header {padding:0;
        .flex-ed{flex-flow:row wrap; flex-wrap: wrap; align-items:stretch; padding: 0;}
        .btn-alt, address{flex:0 1 50%; }
        .logo{width:100%;margin:25px;max-width:none}
        .btn-alt{color:#000;color:#fff;background-image:none;border:0;border-radius:0;box-shadow:none;text-shadow:none;padding:10px 3px;
            &:hover{color:#fff;background-color:#3d3d3d}
            &:after{display:none}
        }
        .flex-ed > a:not(:first-of-type) {display:none;}
        .phone{font-size:34px;color:#fff;border:0;display:flex;flex-flow:column;justify-content:center;font-weight:700; width: 100%;  display: block; margin: auto;  }
        .phone-call {width: 50%;background: transparent;}
        #top-line {font-size: 26px; margin: 10px;}
    }
    #rotate .review > div {min-height: 560px;}
    .safe-bar span:last-of-type{display:block; font-size: 0}

    #banner { border-color: $secondary;
        .container{flex-wrap:wrap}
        figure{margin:0;padding-bottom:0;
            img{margin:0 auto;}
            figcaption {left: auto; right: auto; margin: auto; bottom: 0;}
        }
        .extract{font-size:22px;color:#064164;margin-bottom:20px;display:block}
        article:before {display: none;}
    }
    #common {
        .btn {min-width: auto;}
    }
    #same-day .btn {min-width: auto;}
    #rotate .review {margin: 20px 10px; box-shadow: none;}
    .split p,.comment,#practice p{text-align:center}
    #dentist figure{margin-top:-20px}
    #practice{padding-bottom:20px;
        .flex-ed{display:block;
            > div{margin:0 auto;right:0}
        }
        img{margin:0 auto}
        .pager {margin-top: 20px;}
    }
    footer {padding-top: 0;
        h2{font-size:65px}
        .split > div{margin-top:0}
        article{margin-bottom:30px}
    }
    .phone-call p{ display: none;}
    footer .split .footer-maps > div {background-color: #fff;margin: 30px 15px;border: 1px solid #fff; width: 100%; padding: 40px 15px;border-radius: 20px;
        &:first-of-type {order: 1;}
        .footer-logo {margin: 20px auto;display:block;}
        h3, address a {color: $text;}
    }
    footer .split .footer-maps > div iframe {display:none;}
    .gallery {padding: 10px;}
    .gallery .slick-arrow {position: relative; display: inline-flex;  transform: none; top: auto;  margin: 0;}
    footer .split {margin-bottom: 0;}
    .smile-gallery .slick-slide div {max-width: 100%;}
}
@media (max-width: 700px) {
    #lp-appointment-form h1{font-size:36px}
}

@media (max-width: 590px) {
    h2 {font-size:36px;margin-top:10px}
    .safe-bar{letter-spacing:0 ;font-size: 16px;
        span {margin: 0;}
    }
    footer {
        h2{margin-top:0;padding:0 10px}
        article{padding-top:20px;
            p{font-size:32px;margin-top:5px}
        }
        figure{margin-top:-10px}
    }
    .frame{max-width:98%;margin:auto; iframe{display:none;}}
    figcaption{margin-top:0}
    .copy{padding:30px 10px 70px}
    #banner h1 strong {font-size: 75px;}
    .split figure img {max-width: 100%;}
    footer {
        .split {
            article {padding: 40px 25px;margin: 0 auto;border-radius: 0;
                .phy {text-align:left;}
                .pho {font-size: 36px;text-align:left;}
            }
        }
        .hours {
            label {width: 120px;}
            &:before {
                top: 10px;
            }
        }
    }
    .hours p {text-align:left;}
}
@media (max-width: 480px) {
    h2{font-size:50px}
    #practice .container{padding:0}
    .border-box:before,.border-box:after{display:none}
    .bkgrd{padding-bottom:25px}
    .copy span:last-of-type {display: block; font-size: 0;}
    header .phone-call {width: 100%; flex: 0 1 100%;}
    header .btn-alt {width: 100%; flex: 0 1 100%;}
    #banner h1 {font-size: 40px; line-height: 50px;}
    .hours p {font-size: 17px;}
    #common .flex-ed div {flex: 0 1 90%;}
    #common .flex-ed {justify-content: center;}
}
@media (max-width: 400px) {
    #google .review-stamp {left: 39%;}
    header .btn-alt{font-size:14px}
    .safe-bar{font-size:15px}
    #dentist .caption{font-size:14px}
    h2 {font-size: 42px;}
    footer{
       .split article{margin-bottom:0;padding:70px 20px 20px; margin-top: 0; border-radius: 0;
          p strong{font-size:30px}
          p big{font-size:32px}
      }
    }
}
